/** Color palette */

// Useful reusable theme variables
$primary: #43A047; // green_600
$accent: #FF6E40; // deep_orange_a200

$black_87: rgba(0,0,0,0.87);
$black_54: rgba(0,0,0,0.54);

$green_200: #A5D6A7;
$green_500: #4CAF50;
$green_600: #43A047;
$green_700: #388E3C;

$deep_orange_a200: #FF6E40;