@import 'metrics';

mat-card {
  margin-top: $magic-spacing;
}

mat-card-content {
  margin-top: $magic-spacing;
}

mat-card-subtitle {
  margin-bottom: 0px;
}

.separator {
  padding-top: $magic-spacing/2;
  padding-bottom: $magic-spacing/2;
}

.group-movement {
  display: flex;

  margin-top: $magic-spacing/2;
  margin-bottom: $magic-spacing/2;

  .group-number {
    min-width: 24px;
    flex: 0 0 auto;
    margin-left: $magic-spacing/2;
  }

  .group-content {
    margin-left: $magic-spacing/2;
    margin-right: $magic-spacing/2;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .group-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: baseline;
    }
  }
}

.error {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

