<md-spinner *ngIf="isLoading"></md-spinner>
<md-tab-group *ngIf="dance">
  <md-tab *ngFor="let figure of dance.figures; let i = index;" label="Figure {{i+1}}">
    <md-card>
        <md-card-title>
          {{figure.name}}
        </md-card-title>
        <md-card-subtitle>
          Style: {{figure.style}}
        </md-card-subtitle>
        <md-card-content>
          <div *ngFor="let movement of figure.movements; let j = index;">
            <p>{{j+1 + '. '}}</p>
            <div *ngFor="let group of movement;">
              <ng-container *ngIf="group.id !== specialType.REPEAT">
                <p>{{group.name}}</p>
                <p>{{group.description}}</p>
              </ng-container>
              <ng-container *ngIf="group.id === specialType.REPEAT">
                <p>Repeat {{group.reference}}</p>
                <p>{{group.description}}</p>
              </ng-container>
            </div>
          </div>
        </md-card-content>
    </md-card>
  </md-tab>
</md-tab-group>