<md-spinner *ngIf="isLoading"></md-spinner>
<md-tab-group *ngIf="dance">
  <md-tab *ngFor="let figure of dance.figures; let i = index;" label="Figure {{i+1}}">
    <md-card>
        <md-card-title>
          {{figure.name}}
        </md-card-title>
        <md-card-subtitle>
          Style: {{figure.style}}
        </md-card-subtitle>
        <md-card-content>
          <div *ngFor="let movement of figure.movements; let j = index;">
            <p>{{j+1 + '. '}}</p>
            <div *ngIf="movement.id !== specialType.GROUP 
            && movement.id !== specialType.REPEAT">
              <p>{{movement.name}}</p>
              <p>{{movement.description}}</p>
            </div>
            <ng-container *ngIf="movement.id === specialType.GROUP">
              <div *ngFor="let subMovement of movement.movements">
                <p>{{subMovement.name}}</p>
                <p>{{subMovement.description}}</p>                  
              </div>
            </ng-container>
            <ng-container *ngIf="movement.id === specialType.REPEAT">
              <p>Repeat {{movement.reference}}</p>
              <p>{{movement.description}}</p>
            </ng-container>
          </div>
        </md-card-content>
    </md-card>
  </md-tab>
</md-tab-group>